html,
body {
  overflow: scroll;
  overflow-x: hidden;
}

div .Typewriter {
  display: inline;
}

/*div {
  border: 1px solid red !important;
}

div:first-child {
  border: 1px solid green !important;
}*/

.margin-1 {
  margin: 1em;
}

.ui .segment {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.short-segment {
  height: 10vh;
}

.section-first .grid {
  background-image: url("../images/houses.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: sepia(0.2);
  height: 100vh !important;
}

.ui .grid {
  margin: 0;
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

h1,
.ui .header {
  color: #4c372b;
  font-family: "Overpass Mono", monospace;
}

hr {
  color: #4c372b;
  background-color: #4c372b;
  height: 5px;
  border: none;
}

footer h1 {
}

button {
  font-family: "Overpass Mono", monospace;
  width: 5em;
}

button a,
button a:hover {
  color: #4c372b;
}
